/* focus */
#focus {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	height: 490px;
	overflow: hidden;
	position: relative;
}
#focus #ul-container {
	position: absolute;
}
#focus #ul-container > div {
	float: left;
	width: 50%;
	height: 490px;
	overflow: hidden;
	position: relative;
	/*background: #000;*/
}
#focus #ul-container .product-range .container {
	position: absolute;
	overflow: hidden;
}
#focus .btnBg {
	position: absolute;
	width: 1600px;
	height: 20px;
	left: 0;
	bottom: 0;
	background: #000;
}
#focus .btn {
	position: absolute;
	width: 1600px;
	height: 10px;
	padding: 10px 5px;
	/*right: 0;*/
	bottom: 0;
	text-align: center;
}
#focus .btn span {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	_font-size: 0;
	margin-left: 8px;
	margin-bottom: 5px;
	cursor: pointer;
	background: #fff;
}
#focus .btn span.on {
	background: #fff;
}
#focus .preNext {
	width: 45px;
	height: 100px;
	position: absolute;
	top: 45%;
	background-image: url(../img/theme/sprite-objects.png);
	cursor: pointer;
}
#focus .pre {
	left: 0;
	background-position: 0 -120px;
}
#focus .next {
	right: 0;
	background-position: -40px -120px;
	/*background: url(../img/theme/sprite-objects.png);*/
}

#n {
	margin: 10px auto;
	width: 920px;
	border: 1px solid #CCC;
	font-size: 12px;
	line-height: 30px;
}
#n a {
	padding: 0 4px;
	color: #333
}